 body {
   font-family: 'Arial', sans-serif;
 }

 #mainContent {
   max-width: 940px;
   margin: 0 auto;
   padding: 0 5%;
   text-align: center;
 }

 header {
   float: left;
   margin: 0 0 20px 0;
   padding: 2px 0 0 0;
   width: 100%;
 }

 h1 {
   font-family: 'Arial', sans-serif;
   margin: 10px 0;
   font-size: 2.75em;
   font-weight: normal;
   line-height: 0.5;
   text-align: center;
   color: MediumSeaGreen;
 }

 h2 {
   font-size: 1.50em;
   font-weight: normal;
   text-align: center;
   margin: -5px 0 0;
   color: MediumSeaGreen;
 }

 a {
   text-align: center;
   color: #0d50cd;
 }

 .human-portrait {
   display: block;
   max-width: 400px;
   margin: 0 auto 30px;
   border-radius: 5px;
 }

 .wall-photo {
   display: block;
   max-width: 500px;
   margin: 0 auto 30px;
   border-radius: 5px;
 }